 html, body {
    height: 100%;
  }

  body { 
    font-size: 30px;
    font-weight: 200;
  }

  .panel{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h1{
    padding-left:50%;
    padding-top:20%;
  }

  section:not(.first) {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
  } 

  img{
    height:auto;
    width:100%;
  }

  a{
    margin-right:20px;
    font-size:15px;
    font-weight:auto;
    z-index:1;
    margin-top:-10px;
  }

  .next{
    position:fixed;
  }

  .back{
    position:fixed;
    margin-left:90px;
  }

  /* .button{
    position:fixed;
  } */