body{
   font-size: 20px;
   color: white;
   margin:0;
}

h1{
    margin:0;
}

.panel{
    width:100%;
    height:1000px;
}
.first{
    top:0;
    background-color:black;
}

.second{
    background-color:purple;
}

.third{
    background-color:red;
}

.fourth{
    background-color:green;
}

a{
    margin-right:20px;
    font-size:15px;
}