/* Reset Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #D6E793;
  background-color: #222222;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

/* Add some basic styles */
.container {
  /* padding: 24px; */
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: flex-start;
  gap: 20px;
}

.block {
  width: 100px;
  height: 1000px;
  color: #222222;
  background-color: pink;
  /* Center text */
  /* display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: center; 
}
